<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/b9af6887-846e-475a-a54d-fddd68030e91/v3/index.json" />
  </packageSources>
</configuration>